@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4 py-5 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img src="images/logo.png" alt="Logo" style="height:50px; margin-right:10px;">
                <span style="font-weight:bold; font-size:30px; color:black; font-family:Monotype Corsiva">
                    Heavenly Bakes
                </span>
            </div>
            <div>
                <img src="images/cart.png" alt="cart" style="margin-right:30px; height:25px;"/>
                <img src="images/user.png" alt="user" style="height:25px" />
            </div>
           
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer class="footer">
            <div class="footer-content">
                <p style="justify-content:center; font-weight:bold; font-family:'Monotype Corsiva'">Join the Happy Crowd</p>
                <p style="font-family:'Lucida Bright'; font-size:15px;">Get new arrivals and exclusive offers into you inbox</p>

                <div class="whatsapp-login">
                    <img src="/images/WhatsApp.svg" alt="whatApp community"/>
                    <span style="padding:5px; margin-left:5px;">Join our WhatsApp Channel</span>
                </div>

                <div style="cursor:pointer;">
                    <img src="/images/Ellipse.svg"/>
                    <span>Sell with Heavenly</span>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; Heavenly.com Online shopping for Sri Lankans around the world</p>
            </div>
        </footer>
    </main>

    
</div>
