@page "/"

<PageTitle>Heavenly Bakes</PageTitle>

<div style="background-color: #F0E5E5; padding:30px; display:flex; justify-content: space-between; align-items:center; gap:30px; margin-top:40px; flex-wrap:wrap">
    <div style="max-width:500px;">
        <h1 style="font-size:48px; font-family:Georgia; margin-bottom:10px; color:#2F0C0C;">
            Indulge in<br/>Sweet Perfection
        </h1>
        <p style="font-size:18px; font-family:Lucida Bright; margin-top:25px; color:#250909">
            Order your choices<br/>or sell what you make
        </p>
        <div style="margin-top:40px">
            <button style="padding:12px 24px; font-size:18px; border:none; border-radius:20px; background-color:#D67171; margin-right:30px; cursor:pointer">
                Browse Cake
            </button>
            <button style="padding:12px 24px; font-size:18px; border:none; background-color:beige; border-radius:20px; cursor:pointer;">
                Sell Your Product
            </button>
        </div>
        
    </div>
    <div>
        <img src="images/Cake1.png" alt="cake1" style="max-width: 450px; width:100%; border-radius:20px;margin-right:30px;"/>
    </div>
</div>

